.title{
    font-size: 36;
    color: black;
    font-weight: 700;
    padding: 1vh;
    width: 60vw;
    padding-bottom: 2vh;
}

@media only screen and (max-width: 768px) {
    .title{
        font-size: 36;
        color: black;
        font-weight: 700;
        padding: 1vh;
        width: 78vw;
        padding-bottom: 2vh;
    }
}