* {
    font-family: system-ui, sans-serif;
    margin: auto;
    padding: 0;
}
body{
    color: #041C32;
    background-color: #dddddd;
}

main{
    margin: 2vh;
}
section,h1,h2,h3{
    padding-top: 1vh;
    
}


#navbar{
    background-color: #041C32;
    padding: 2vh;
    
}
#navbar a{
    color: #ECB365;
    text-decoration: none;
    padding: .3vh;

}
#navbar a:hover{
    color: white;
    text-decoration: none;
    margin: .3vh;
    font-weight: 900;

}
#contato div{
    display: flex;
    flex-direction: column;
}
