* {
    font-family: 'Poppins', sans-serif;
    font-size: 62,5%;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria:#EEEEEE;
    --cor-secundaria:#261C2C ;
}

body{
    background-color:var(--cor-primaria);
    color:var(--cor-secundaria) ;
}

nav{
    background-color:var(--cor-secundaria);
    color:var(--cor-primaria);
    position: fixed;
    width: 100%;
    top:0;
}

h1{
    font-size: 1.6rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 1.5;
    margin-left: 2vh;
    margin-right: 2vh;
}

h2{
    font-size: 1.5rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 1.5;
    margin-left: 2vh;
    margin-right: 2vh;

}

h3{
    font-size: 1.4rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 1.5;
    margin-left: 2vh;
    margin-right: 2vh;
}

h4 {
    font-size: 1.3rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 1.5;
    margin-left: 2vh;
    margin-right: 2vh;
}

p{
    font-size: 1.2rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 1.5;
    margin-left: 2vh;
    margin-right: 2vh;
}
#contato div{
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
}
#contato div a{
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 1.5;
    margin-left: 2vh;
    margin-right: 2vh;
}

.botao-voltar-inicio{
    background-color: var(--cor-secundaria);
    border-radius: 50%;
    padding: 10px;
    width: 5vh;
    height: 5vh;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
}
.seta {

    transform: rotate(90deg);
    width: 5vh;
    height: 5vh;
}

@media only screen and (max-width: 600px) {
    nav{
        height: 10vh;
    }
    
    .btn-language-pt,.btn-language-en {
        margin-top: 1vh;
        margin-right: 2vw;
        width: 8vh;
        height: 8vh;
        font-size: 1.8rem;
        background-color: (var(--cor-secundaria));
        color: var(--cor-primaria);
        border: none;
        box-shadow: none;
        float: right;
    }
    
    main{
        margin-top: 12vh;
    }

    h1{
        text-align: center; 
    }

    h2{
        border-bottom: solid 2px var(--cor-secundaria);
        text-align: center;
    }

    #check-menu, .menu-hamburguer{
        height: 8vh;
        width: 8vh;
        position: fixed;
        left:2vw;
        top:1vh;
    }
    #check-menu{
        z-index: 2;
        opacity: 0;
    }
    .menu-hamburguer{
        z-index: 1;
        content: url('../img/burguer-menu.svg')   
    }
    #check-menu:checked ~ .menu-hamburguer{
        content: url('../img/close_cross.svg')   
    }
    #menu
    {
      position: absolute;
      width: 100%;
      margin: -2vh 0 0 -50px;
      padding: 14vw;
      padding-top: 12vh;
        
      background: var(--cor-secundaria);
      color: var(--cor-primaria);
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
  
      transform: translate(-100%, 0);
  
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
       -ms-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
           transition:all 0.5s ease;

      z-index: 0;
    }

    #menu li
    {
      font-size: 1.3rem;
      margin-left: 2vh;
      margin-right: 2vh;
    }
    
    #menu a{
        text-decoration: none;
        color:var(--cor-primaria);
        margin-left: 2vh;
        margin-right: 2vh;
    }

    #check-menu:checked ~ ul
    {
      transform: none;
    }
}

@media only screen and (min-width: 601px) {
    #check-menu, .menu-hamburguer{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .btn-language-pt,.btn-language-en{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    
}

@media only screen and (min-width: 992px) {
    #check-menu, .menu-hamburguer{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .btn-language-pt,.btn-language-en{
        visibility: hidden;
        height: 0;
        width: 0;
    }
}
